body {
  background-color: grey;
}

header {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

p {
  font-size: x-large;
}

.show {
    display: flex;
  }

  .hide {
    display: none;
  }

  .chart {
    display: grid;
  }

  